/fileShare
/include/*.h.gch
/*.o
/test/a.out
/test/client
/test/server
delete2/take
delete2/test.txt
delete2/take
delete/Eigenvalues_and_Eigenfunctions_Corrected.pdf
delete2/test.pdf
delete/give
delete/test.txt
